/*!***************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/fonts/font-face.css ***!
  \***************************************************************************/
@font-face {
  font-family: Vazir;
  src: url(./assets/fonts/Vazir-Code.eot);
  src: url(./assets/fonts/Vazir-Code.eot?#iefix) format("embedded-opentype"), url(./assets/fonts/Vazir-Code.woff) format("woff"),
    url(./assets/fonts/Vazir-Code.ttf) format("truetype");
  font-weight: normal;
}

/*!*************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/css/style.scss ***!
  \*************************************************************************************************************/
body {
  font-family: "Vazir";
}
